extends layout.pug

block content 
  div.p-4.d-flex.flex-row.gap-5.bg-light
    div.d-flex.flex-column.gap-4.flex-grow-1
      h4.m-0 Filter by asset category
      .d-flex.gap-4.mx-2
        each category of categories 
          - let filterId="filterToggler"+category.name
          - const isActive=category.name===activeFilter?true:null;
            input.btn-check(type="checkbox" checked=isActive name="filterBy" id=filterId value=category.name autocomplete="off" onclick="handleFilterToggle(event)") 
            label.btn.btn-outline-primary(for=filterId) #{category.name}
      .container.fluid.p-3.rounded-5
        include modals/assets/asset-modal
        include modals/assets/confirm-modal
        table.table.display.table-light.table-hover#asset-table
          thead
            tr 
              th(scope="col") Make
              th(scope="col") Model
              th(scope="col") Series 
              th(scope="col") Serial Number
              th(scope="col") Category
              th(scope="col") Edit
              th(scope="col") Delete
          tbody
            each value of assets
              tr
                td #{value.make} 
                td #{value.model} 
                td #{value.series} 
                td #{value.serialNumber}
                td #{value.Category.name}
                td 
                  button.btn.btn-primary(type="submit" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-asset=value data-bs-categories=categories) Edit
                td 
                  button.btn.btn-danger(type="submit" data-bs-toggle="modal" data-bs-target="#confirmModal" data-bs-data=value onclick="modalTriggered(event)") Delete
                  input(type="hidden", name="deletionId" value=value.id)
    form.d-flex.flex-column.align-items-start.mt-3.bg-light.gap-3(action="/assets", method="post")
      h2 Create a new asset
      div 
        label.form-label(for="category") Category
        select.form-select(aria-label='Asset category selection' name="category" id="category")
          option(selected='') Select an asset category !
          each value of categories 
            option(value=value.id) #{value.name}
      div
        label.form-label(for="make") Make
        input.form-control(type="text", name="make",id="make" placeholder="Dell") 
      div
        label.form-label(for="model") Model
        input.form-control(type="text", name="model",id="model" placeholder="XPS")
      div
        label.form-label(for="series") Series
        input.form-control(type="text", name="series",id="series" placeholder="15") 
      div
        label.form-label(for="serialNumber") Serial Number
        input.form-control(type="text", name="serialNumber",id="serialNumber" placeholder="XXX-XXX-XXX")
      button.btn.btn-primary.w-50.mt-4(type="submit") Add
      .alert.alert-success(role="alert" class=alert||"d-none" id="assetAddAlert") #{alertMessage} 
  script.
    const alert=document.getElementById("assetAddAlert")
    setTimeout(()=>{
      if(alert.classList.contains("d-block")){
        alert.classList.replace("d-block","d-none");
      }
    },5000);
  script(src="/javascripts/custom/assets/assetModal.js") 
  script(src="/javascripts/custom/assets/deleteModal.js") 
  script(src="/javascripts/custom/assets/filterSubmit.js")


