extends layout.pug

block content 
  div.p-4.d-flex.flex-row.gap-5.bg-light
    .container.fluid.p-0.rounded-5.w-75
      h2.mb-4 Categories
      include modals/categories/category-modal
      include modals/categories/confirm-modal
      table.table.display.table-light.table-hover#category-table
        thead
          tr 
            th(scope="col") Name
            th(scope="col") Edit
            th(scope="col") Delete
        tbody
          each value of categories
            tr 
              td #{value.name}
              td 
                button.btn.btn-primary(type="submit" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-data=value) Edit
              td 
                button.btn.btn-danger(type="submit" data-bs-toggle="modal" data-bs-target="#confirmModal" data-bs-data=value onclick="modalTriggered(event)") Delete
                input(type="hidden", name="deletionId" value=value.id)

    form.d-flex.flex-column.align-items-start.mt-5.bg-light.gap-4.flex-grow-1(action="/categories", method="post")
      h2 Create a new category
      div
        label.form-label(for="name") Category Name
        input.form-control(type="text", name="name",id="name") 
      button.btn.btn-primary.w-50(type="submit") Add
      .alert.alert-success(role="alert" class=alert||"d-none" id="categoryAddAlert") #{alertMessage} 
    script.
      const alert=document.getElementById("categoryAddAlert")
      setTimeout(()=>{
        if(alert.classList.contains("d-block")){
          alert.classList.replace("d-block","d-none");
        }
      },5000);
      
    script.
      if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
      }
  script(src="/javascripts/custom/categories/categoryModal.js") 
  script(src="/javascripts/custom/categories/deleteModal.js") 


