extends layout.pug

block content 
  div.p-3.d-flex.flex-column.gap-3.bg-light
    form.form-check.form-switch.d-flex.gap-4.mx-2(action="/employees" method="get")
      input.form-check-input(type="checkbox" role="switch" style="transform:scale(1.5);" id="activefilerSwitch" onClick="filterSubmit(event)" name="filterBy" value=filterType)
      label.form-check-label(for="activefilerSwitch") Only Active Users

    script.
      const toggler=document.getElementById("activefilerSwitch")
      const isActive=toggler.value==="active";
      if(isActive){
        toggler.setAttribute("checked","true")
      }

      function filterSubmit(event){
        const activeSwitch=event.currentTarget;
        if(activeSwitch.value==="inactive"){
          activeSwitch.closest('form').submit();
        }
        else 
          location.assign("/employees");
      }

    table.table.display.table-light.table-striped#employee-table
      thead 
        tr 
          th(scope="col") Name
          th(scope="col") Phone Number
          th(scope="col") Department 
      tbody 
          each value of employees
            tr 
              td #{value.name}
              td #{value.phone}
              td #{value.department}

    form.d-flex.flex-column.gap-4(action="", method="post")
      div
        label.form-label(for="name") Employee Name
        input.form-control(type="text", name="name",id="name") 
      div.d-flex.gap-3
        input.form-check-input(type="checkbox", name="active",id="isActive")
        label.form-check-label(for="isActive") Active Employee?
      button.btn.btn-primary.align-self-center.w-50(type="submit") Add

