extends layout.pug

block title 
  title Issue Asset

block content 
  div.p-5.d-flex.flex-row.gap-5.bg-light
    div.d-flex.flex-column.gap-4.flex-grow-1(style="max-width:900px")
      form.form-check.form-switch.d-flex.gap-4.mx-2(action="/issue" method="get")
        input.form-check-input(type="checkbox" role="switch" style="transform:scale(1.5);" id="activefilerSwitch" onClick="filterSubmit(event)" name="filterBy" value=filterType)
        label.form-check-label(for="activefilerSwitch") Only Active Users
      script.
        if(document.URL.includes("filterBy=active"))
          document.getElementById("activefilerSwitch").setAttribute("checked","true")
        function filterSubmit(event){
          const activeSwitch=event.currentTarget;
          if(activeSwitch.value==="inactive"){
            activeSwitch.value="active"
            activeSwitch.closest('form').submit();
          }
          else 
            window.location.href="/issue"
        }
      .container.fluid.p-0
        h3.fw-bold.mb-4 Issue an Asset
        table.table.display.table-light.table-hover.pt-4#issue-table
          thead
            tr 
              th(scope="col") Name
              th(scope="col") Phone Number
              th(scope="col") Department 
              th(scope="col") Select
          tbody
            each value of employees
              tr 
                td #{value.name}
                td #{value.phone}
                td #{value.department}
                - const selectId="sel"+value.id
                td
                  button.btn.btn-success.selectorBtn(type="submit" id=selectId data-selectedEmp=value onClick="handleIssueSelect(event)") Select
                  input(type="hidden", name="allAssets" id="allAssets" value=assets)
      
      .alert.alert-success(role="alert" class=alert||"d-none" id="issueAddAlert") #{alertMessage} 

    .d-flex.flex-column.align-items-start.mt-3.bg-light.gap-3
      .card(style="width:300px")
        .card-header.fs-4.fw-semibold Selected Employee
        ul.list-group.list-group-flush 
          li.list-group-item 
            span.fs-5.fw-medium Name 
            span#selEmpName Value
          li.list-group-item 
            span.fs-5.fw-medium Phone Number 
            span#selEmpNum Value
          li.list-group-item 
            span.fs-5.fw-medium Department 
            span#selEmpDep Value
      h4.mt-3 Issued Assets 
      ul.list-group#issueAssetList
      .d-flex.flex-column.gap-3 
        h4.m-0 Issue an asset 
        .dropdown-center 
          button.btn.btn-primary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Asset category 
          ul.dropdown-menu 
            each value of categories 
              li
                a.dropdown-item(onClick="handleCategoryChange(event)" data-category=value.id) #{value.name}
        form.d-flex.flex-column.gap-5(action="/issue", method="post")
          input(type="hidden" name="employeeId" id="selEmployeeId")
          div
            label.form-label.fs-5.fw-medium(for="assetSel") Asset to issue
            select.form-select(name="assetId" id="assetSel" aria-label="Select an asset to issue" disabled) 
              option(selected) Select asset!
          button.btn.btn-primary(type="submit") Issue Asset
    script.
      const alert=document.getElementById("issueAddAlert")
      setTimeout(()=>{
        if(alert.classList.contains("d-block")){
          alert.classList.replace("d-block","d-none");
        }
      },5000);
    script.
      if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
      } 
  script(src="/javascripts/custom/issue/issueInput.js") 


