extends layout 

block title 
  title Scrap Asset

block content 
  div.p-5.d-flex.flex-row.gap-5.bg-light
    .d-flex.flex-column.gap-4.flex-grow-1
      include modals/scrap/confirm-modal
      h3.fw-bold.mb-4 Scrap an asset
      .d-flex.gap-4.mx-2
        each category of categories 
          - let filterId="filterToggler"+category.name
          - const isActive=category.name===activeFilter?true:null;
            input.btn-check(type="checkbox" checked=isActive name="filterBy" id=filterId value=category.name autocomplete="off" onclick="handleFilterToggle(event)") 
            label.btn.btn-outline-primary(for=filterId) #{category.name}
        input.btn-check(type="checkbox" name="clearFilters" id="clearFilters" value="clear" autocomplete="off" onclick="handleFilterToggle(event)") 
        label.btn.btn-secondary(for="clearFilters") Clear Filters
      .container.fluid.p-0.rounded-5
        table.table.display.table-light.table-hover.pt-4#scrap-table
          thead
            tr 
              th(scope="col") Make
              th(scope="col") Model
              th(scope="col") Series 
              th(scope="col") Serial Number
              th(scope="col") Category
              th(scope="col") Mark an asset
          tbody
            each value of assets
              tr
                td #{value.make} 
                td #{value.model} 
                td #{value.series} 
                td #{value.serialNumber}
                td #{value.Category.name}
                - const selectId="sel"+value.id
                - const btnText= value.isObsolete?"Make Active":"Mark Obsolete";
                  td
                    button.btn.selectorBtn(type="submit" id=selectId data-selectedAsset=value data-bs-toggle="modal" data-bs-target="#confirmModal" onClick="modalTriggered(event)") #{btnText}
      .alert.alert-success(role="alert" class=alert||"d-none" id="markAlert") #{alertMessage} 
  
  script.
    const alert=document.getElementById("markAlert")
    setTimeout(()=>{
      if(alert.classList.contains("d-block")){
        alert.classList.replace("d-block","d-none");
      }
    },5000);
  
  script.
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
      
  script(src="/javascripts/custom/scrap/scrapSelect.js") 


